@font-face {
	font-family: NotoSansKR;
	src: url('../fonts/NotoSansKR/NotoSansKR-Light.eot');
	src: url('../fonts/NotoSansKR/NotoSansKR-Light.ttf');
	src: url('../fonts/NotoSansKR/NotoSansKR-Light.woff');
	font-weight: 200;
	font-style: normal
}
@font-face {
	font-family: NotoSansKR;
	src: url('../fonts/NotoSansKR/NotoSansKR-Demilight.eot');
	src: url('../fonts/NotoSansKR/NotoSansKR-Demilight.ttf');
	src: url('../fonts/NotoSansKR/NotoSansKR-Demilight.woff');
	font-weight: 300;
	font-style: normal
}
@font-face {
	font-family: NotoSansKR;
	src: url('../fonts/NotoSansKR/NotoSansKR-Regular.eot');
	src: url('../fonts/NotoSansKR/NotoSansKR-Regular.ttf');
	src: url('../fonts/NotoSansKR/NotoSansKR-Regular.woff');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: NotoSansKR;
	src: url('../fonts/NotoSansKR/NotoSansKR-Medium.eot');
	src: url('../fonts/NotoSansKR/NotoSansKR-Medium.ttf');
	src: url('../fonts/NotoSansKR/NotoSansKR-Medium.woff');
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: notokr;
	src: url('../fonts/NotoSansKR/notokr-light.eot');
	src: url('../fonts/NotoSansKR/notokr-light.ttf');
	src: url('../fonts/NotoSansKR/notokr-light.woff');
	/*src: url('../fonts/NotoSansKR/notokr-light.woff2');*/
	font-weight: 200;
	font-style: normal
}
@font-face {
	font-family: notokr;
	src: url('../fonts/NotoSansKR/notokr-demilight.eot');
	src: url('../fonts/NotoSansKR/notokr-demilight.ttf');
	src: url('../fonts/NotoSansKR/notokr-demilight.woff');
	/*src: url('../fonts/NotoSansKR/notokr-demilight.woff2');*/
	font-weight: 300;
	font-style: normal
}
@font-face {
	font-family: notokr;
	src: url('../fonts/NotoSansKR/notokr-regular.eot');
	src: url('../fonts/NotoSansKR/notokr-regular.ttf');
	src: url('../fonts/NotoSansKR/notokr-regular.woff');
	/*src: url('../fonts/NotoSansKR/notokr-regular.woff2');*/
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: notokr;
	src: url('../fonts/NotoSansKR/notokr-medium.eot');
	src: url('../fonts/NotoSansKR/notokr-medium.ttf');
	src: url('../fonts/NotoSansKR/notokr-medium.woff');
	/*src: url('../fonts/NotoSansKR/notokr-medium.woff2');*/
	font-weight: 500;
	font-style: normal
}
@font-face {
	font-family: notokr;
	src: url('../fonts/NotoSansKR/notokr-bold.eot');
	src: url('../fonts/NotoSansKR/notokr-bold.ttf');
	src: url('../fonts/NotoSansKR/notokr-bold.woff');
	/*src: url('../fonts/NotoSansKR/notokr-bold.woff2');*/
	font-weight: 900;
	font-style: normal
}





@font-face {
	font-family: Source Sans Pro;
	src: url('../fonts/SourceSans/Source Sans Pro Regular.eot');
	src: url('../fonts/SourceSans/Source Sans Pro Regular.ttf');
	src: url('../fonts/SourceSans/Source Sans Pro Regular.woff');
	/*src: url('../fonts/SourceSans/Source Sans Pro Regular.woff2');*/
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Source Sans Pro;
	src: url('../fonts/SourceSans/Source Sans Pro.semibold.eot');
	src: url('../fonts/SourceSans/Source Sans Pro.semibold.ttf');
	src: url('../fonts/SourceSans/Source Sans Pro.semibold.woff');
	/*src: url('../fonts/SourceSans/Source Sans Pro.semibold.woff2');*/
	font-weight: 900;
	font-style: normal
}

/*한자 본고딕 Exploer에서 느려서 일단 막음*/

@font-face {
	font-family: notoch;
	src: url('../fonts/NotoSansCJKsc-hinted/NotoSansCJKsc-Light.woff');	
	font-style: normal
}

@font-face {
	font-family: notoch;
	src: url('../fonts/NotoSansCJKsc-hinted/NotoSansCJKsc-Demilight.otf');
	
	font-weight: 300;
	font-style: normal
}
@font-face {
	font-family: notoch;
	src: url('../fonts/NotoSansCJKsc-hinted/NotoSansCJKsc-Regular.otf');
	
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: notoch;
	src: url('../fonts/NotoSansCJKsc-hinted/NotoSansCJKsc-Medium.otf');
	
	font-weight: 500;
	font-style: normal
}
@font-face {
	font-family: notoch;
	src: url('../fonts/NotoSansCJKsc-hinted/NotoSansCJKsc-Bold.otf');
	
	font-weight: 900;
	font-style: normal
}



